$color-principal: #E8A01D;
$color-secundario: #ECB03C;
$color-render1:#0B0730;
$color-render2: #233D58;
$color-botones: #1DC8C6;
$color-bordes: black;
$color-fondo: rgb(255, 216, 142);
$primary-light-blue: #8DB9ED;

$primary-line-color: #ccc;

$ancho: 100px;
$margen: 10px;